/*=====================================
=            HEADER STYLES            =
=====================================*/

header {
	max-height: 900px;
	position: relative;

	.container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		padding-top: 2%;
		background: $background-text;
			
			h1.site-title {
		    max-width: 30%;
		    margin: 0 auto;
		    background: url(images/logo-white-EDIT.svg) no-repeat center;
		    background-size: contain;
		    text-indent: -99999px;
		    padding-bottom: 8%;
			border-bottom: 5px solid white;

		}

		.tagline {
			text-align:center;
			color: white;
			font-size: 2.2rem;
			line-height: 4rem;
			padding: 5% 10%; 

		}
	}
}

.header-widget {
	max-height: 850px;
	overflow: hidden;
}

video, #video	 {
	min-width: 100%; 
	width: auto; height: auto;
	z-index: -100;
}

/*==========  Header Responsive Styles  ==========*/

@media screen and (max-width: 600px) {
	header {
		min-height: 500px;
		background: url(images/trailer-park-boys.jpg) center;
		background-size: cover;

		video {
			display: none;
		}

		.container {
			h1.site-title {
				max-width: 50%;
			}

			.tagline {
				p {
					line-height: 2.5rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1020px){
	header {
		.container {
			.tagline {
				padding: 5%;
			}
		}
	}
}




/*-----  End of HEADER STYLES  ------*/

.container {
    margin: 0 auto;
    width: 80%;
    padding: 5%;
    position: relative;

    li {
        text-align: center;
        list-style-type: none;
        text-indent: 0;
    }
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

/*==========  Responsive Elements  ==========*/

@media screen and (max-width: 600px){
	.container{
		width: 90%;
		padding: 2%;
	}
}


/*=====================================
=            Footer Styles            =
=====================================*/
footer.site-footer {
    background: darken($this-is-dark, 10%);
}

.site-info {
    float: left;
    display: inline-block;
    margin: 0 10%;
    padding: 1%;
    width: 80%;
    color: white;
}

.copyright, .logo {
	width: 33%;
	margin: 0 5%;
	display: inline-block;
}

.logo {
	max-width: 200px;
	padding-top: 0.5%;
}

.copyright {
	padding: 2% 0;
	float: right;

	p {
		float: right;
	}
}

/*==========  Responsive Footer  ==========*/
@media screen and (max-width: 600px){
	footer {
		padding: 3% 0;

		.copyright, .logo {
			width: 100%;
			float: left;
		}

		.copyright {
			margin-left: 8%;
			float: left;

			p {
				float: left;
			}
		}
	}
}

/*-----  End of Footer Styles  ------*/

