/*=====================================
=            HEADER STYLES            =
=====================================*/

header {
	max-height: 900px;
	position: relative;

	.container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		padding-top: 2%;
		background: $background-text;
			
			h1.site-title {
		    max-width: 500px;
		    margin: 0 auto;
		    background: url(images/logo-white-EDIT.svg) no-repeat center;
		    background-size: contain;
		    text-indent: -99999px;
		    padding-bottom: 8%;
			border-bottom: 5px solid white;

		}

		.tagline {
			text-align:center;
			color: white;
			font-size: 2.2rem;
			line-height: 4rem;
			padding: 5% 10%; 

		}
	}
}

.header-widget {
	max-height: 875px;
	overflow: hidden;
}

video, #video	 {
	min-width: 100%; 
	width: auto; height: auto;
	z-index: -100;
}

/*-----  End of HEADER STYLES  ------*/

.container {
    margin: 0 auto;
    width: 80%;
    padding: 5%;
    position: relative;

    li {
        text-align: center;
        list-style-type: none;
        text-indent: 0;
    }
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}


/*=====================================
=            Footer Styles            =
=====================================*/
footer.site-footer {
    background: darken($this-is-dark, 10%);
}

.site-info.container {
    float: left;
    display: inline-block;
    margin-left: 10%;
    padding: 1%;
    color: white;
}

.copyright, .logo {
	width: 33%;
	display: inline-block;
}

.copyright {
	padding-top: 1%;
}

.logo {
	float: right;
	max-width: 200px;
}

/*-----  End of Footer Styles  ------*/

