html, body {
	height: 100%;
}

nav.main-navigation {
	clear: both;
	display: block;
	width: 100%;
    margin: 0;
	background: white;
	z-index: 10;
}

.fixed {
	position: fixed;
	bottom: 0;
	padding: 2% 0;
}

.absolute {
	position: absolute;
	bottom:0;
	padding: 2% 0;
	
}

.sticky {  
	transition: padding 0.5s;
	-webkit-transition: padding 0.5s;
    position: fixed;  
    padding: 1%;
    width: 100%;  
    left: 0;  
    top: 0;   
    border-top: 0;  
    z-index: 11;
}  

nav.main-navigation ul {
	list-style: none;
    text-align: center; 
    margin-bottom: 0;
}
nav.main-navigation li {
	display: inline;
    padding: 0 2%;
}
nav.main-navigation a {
	font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
	color: $body;

    &:hover {
	        color: $link-hover;
	    }

	    &:focus {
	        color: $link-hover;
	    }
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 11;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/*=====================================================
=            Menu positioning : Responsive            =
=====================================================*/

@media screen and (max-width: 1500px){
	.fixed, .absolute {
		position: relative;
	}
}

/*-----  End of Menu positioning : Responsive  ------*/




/*=============================================
=            Small Menu            =
=============================================*/
.menu-toggle {
	display: none;
}
@media screen and (max-width: 600px) {

	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		@include h3;
		display: block;
		background: none;
		box-shadow: none;
		border: 0;
		color: $background-opaque;
		margin: 0 auto;
		font-size: 2rem;
		padding-bottom: 3%;


		&:hover, &:focus {
			color: $main-accent;
			box-shadow: none;
			outline: none;
		}
	}

	ul.menu {
		margin: 0;

		li {
			display: block;
			width: 100%;
			padding: 3% 0;
			border-top: 1px solid $body;
		}

		li:last-child {
			padding: 3% 0 1% 0;
		}
	}
	
	.main-navigation ul {
		display: none;



		
	}
}

/*-----  End of Section comment block  ------*/



.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}