/*==============================
=            Colors            =
==============================*/

$body : #636363;
$main-accent : #cb5b21;
$this-is-dark: #1C2130;
$link-hover : darken($main-accent, 10%);
$background-text : rgba(13,100,154,0.85); //denim bluey
$background-text-light: rgba(203,91,33,0.85); //orangy
$background-opaque: #0d649a;
$body-background: #ebebeb;

/*-----  End of Colors  ------*/

/*=============================
=            FONTS            =
=============================*/

$body-font : "Abril Text", Georgia, serif;

@mixin body-text {
	font-family: $body-font;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
}

/*-----  End of FONTS  ------*/

@mixin h3 {
	font-family: "Proxima-Nova", sans-serif;
	font-size: 1.5rem;
	color: white;
	text-transform: uppercase; 
	letter-spacing: 2px; 
	display: inline-block;
}

@mixin h2 {
	font-size: 7rem;
	font-family: "Proxima-Nova", sans-serif;
	//text-transform: uppercase;
    font-weight: 700;
}

/*===============================
=            Buttons            =
===============================*/

@mixin button {
	border-radius: 0;
	background: white;
	padding: 2%; 
	color: $this-is-dark;
	border: 0;
	font-size: 1.6rem;
	margin: 4% 0;
	box-shadow: none;
}

@mixin button-hover {
	background: darken($background-opaque, 10%);
	box-shadow: none;
	color: white;
}

.myClose {
	background: url(images/icon-close.svg);
	background-size: contain;
	position: absolute;
	top: -50px;
	right: -5px;
	width: 40px;
	height: 40px;
}

a.myNext {
	background: url(images/right_arrow.png);
	background-size: contain;
	position: absolute;
	top: 175px;
	right: -80px;
	width: 40px;
	height: 40px;
	opacity: 0;

	&:hover {
		opacity: 1;
		transition: opacity 0.5s;
	}
}

.fancybox-nav:hover span{
	visibility: hidden;
}


.myPrev {
	background: url(images/left_arrow.png);
	background-size: contain;
	position: absolute;
	top: 175px;
	left: -80px;
	width: 40px;
	height: 40px;
	opacity: 0;

	&:hover {
		left: -50px;
		opacity: 1;
		transition: right 0.5s;
	}
}
/*-----  End of Buttons  ------*/



