/*=========================================
=             ABOUT STYLES            =
=========================================*/
.about {
    background: $this-is-dark;
    width: 100%;
    
    .container{
        padding: 10%;
    }

    h2 {
        @include h2;
        margin: 2% 0;   
        text-align: center;
        color: white;
     }

     p {
        @include body-text;
        color: white;
        padding: 10% 0;
     }
}

.recent-post {
    text-align: center;
    margin-top: 5%;

    p { 
        @include h3;
        background: darken($this-is-dark, 10%);
        display: inline-block;
        padding: 2% 5%;
    
    a {
        color: white;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $main-accent;
        }
    }

    }
}

/*==========  Responsive About Section  ==========*/
@media screen and (max-width: 600px){
    .about p {
        @include body-mobile;
    }

    .recent-post p{
        line-height: 3rem;
    }
}


/*-----  End of ABOUT STYLES  ------*/


/*====================================
=            Work Section            =
====================================*/

/*==========  lightbox comment block  ==========*/

.full-width-thumbs {
    width: 100%;
    margin: 0;
}

ul.trailer-thumbs {
    text-indent: 0;
    width: 100%;
    margin: 0;

    li {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 0;
        
        a img{
            width: 33.333%;
            -webkit-filter: grayscale(100%);
            filter: grayscale;
            vertical-align: bottom; 
        }

        a:hover img {
            -webkit-filter: grayscale(0);
            filter: none;
        }

    }
}


/*==========  lightbox comment block  ==========*/

.work{
    height: 900px;
    position: relative;
}

.left,  .right {
    width: 48%;
    margin: 1%;
    float: left;
    

    p {
        color: white;
    }
}

.right {
    float: right;

    h3 {
        @include h3;
        background: darken($background-text-light, 20%);
        padding: 2%;
        display: inline-block;
        
    }
}

.work {
    h2 {
        @include h2;
        line-height: 6rem;
    }

    p {
        margin: 1%;
        @include body-text;
    }
}


.left.work-text {
    h3 {
        @include h3;
        background: darken($background-text, 20%);
        padding: 2%;
        display: inline-block;
    }
}

.work.trailer-park {
    background: url(images/tpb-background.png) no-repeat left top;
    background-attachment: fixed;
    background-size: cover;
}


.work.mr-d {
    background: url(images/mrd-background.png) no-repeat left;
    background-attachment: fixed;
    background-size: cover;
}

/*==========  Responsive WORK section  ==========*/

@media screen and (max-width: 1020px){
        .left, .right {
            width: 100%;

            p {
                line-height: 4rem;
            }
        }

        .work-text {
            margin-top: 15%;
        }
}

@media screen and (max-width: 600px){
    .left, .right {
        p {
            @include body-mobile;
        }
    }

    .work {
        max-height: 800px;
    }

    .work.mr-d, .work.trailer-park {
        background-attachment: scroll;
    }

    .work.mr-d {
        background-position: center;
    }

    ul.trailer-thumbs li {
        display: block;
         width: 100%;

        a img {
            width: 100%;
            margin: -1% 0;
        }
    }
}

/*-----  End of Work Section  ------*/



/*=======================================
=            Contact Section            =
=======================================*/
.contact {
   background: url(images/old_map.png);
   background-size: cover;
   background-attachment: fixed;
   width: 100%;
   min-height: 900px;

       .left {
            width: 45%;
            float: left;
            margin: 2.5%;
        }

        .right {
            width: 35%;
            float: right;
            margin: 2.5%;
        }

        h2{
            margin: 1% 0;
            text-align: left;
            color: white;
            margin-bottom: 2%;
        }

        p {
            @include body-text;
            color: white;
        }
}

/*==========  Responsive CONTACT section  ==========*/
@media screen and (max-width: 1020px){
    .contact {
        background-attachment: scroll;
        
        .left, .right {
            width: 100%;
            margin: 15% 0 5% 0;
        }


        p {
            @include body-mobile;
        }
    } 
}


/*-----  End of Contact Section  ------*/

/*=============================================
=            Single page blog post            =
=============================================*/

header.entry-header {
    background: white;
    padding: 2% 5%;
    margin-top: 5%;
    text-align: center;

    .entry-meta {
        @include h3;
        background: $main-accent;
        padding: 1%;
        font-size: 1.2rem;
        margin: 1% 0; 
        
        
        a {
            color: white;
            text-decoration: none;

            &:hover{
                color: $background-opaque;
            }
        }
    }
}

.container.blog  {
    padding: 1%;
}

.entry-content.blog {
    background: white;
    padding: 7.5%;

    h3 {
        font-family: $body-font;
        font-size: 3rem;
        line-height: 4rem;
        color: $main-accent;
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 3%;
    }

    p {
        @include body-text;
        color: $body;
        margin: 2% 0;
    }
}

.post-nav {
    margin: 4% 0 0 0; 

    a {
        color: $main-accent;
        font-family: $body-font;
        font-size: 1.6rem;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $background-opaque;
        }
    }
}

.entry-footer.container {
    background: white;
    width: 78%;
    padding: 2% 5%;
    margin-bottom: 1%;
    p {
        @include body-text;
        font-size: 1.5rem;
        letter-spacing: 0;
    }

    a {
        color: $main-accent;
        text-decoration: none;
        font-weight: 700;

        &:hover {
            color: $background-opaque;
        }
    }
}

/*==========  Responsive Blog Styles  ==========*/



/*-----  End of Single page blog post  ------*/

.hentry {
	margin: 0;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}