/*=========================================
=             ABOUT STYLES            =
=========================================*/
.about {
        background: $this-is-dark;
        width: 100%;
        
        .container{
            padding: 10%;
        }

        h2 {
            @include h2;
            margin: 2% 0;   
            text-align: center;
            color: white;
         }

         p {
            @include body-text;
            color: white;
         }
}


/*-----  End of FLEXSLIDER STYLES  ------*/
/*====================================
=            Work Section            =
====================================*/

/*==========  lightbox comment block  ==========*/

.full-width-thumbs {
    width: 100%;
    margin: 0;
    position: relative;
}

ul.trailer-thumbs {
    text-indent: 0;
    width: 100%;
    margin: 0;

    li {
        display: inline;
        //margin: 0;

        a img{
            width: 34.9%;
            margin: -1%;
            position: relative;
            -webkit-filter: grayscale(100%);
            filter: grayscale;
            transition: 1s;
        }

        a:hover img {
            -webkit-filter: grayscale(0);
            filter: none;
        }

    }
}


/*==========  lightbox comment block  ==========*/


.work{
    position: relative;
    min-height: 700px;
}

.left, .right {
    width: 48%;
    margin: 1%;
    float: left;

    p {
        color: white;
    }
}

.right {
    float: right;

     h2 {
        color: white;
    }

    h3 {
        background: darken($background-text-light, 10%);
        padding: 2%;
        display: inline-block;
        margin-bottom: 5%;
    }
}


.work {
    h2 {
        @include h2;
        margin-bottom: 8%; 
        line-height: 6rem;
    }

    p {
        margin: 1%;
        @include body-text;
    }
}

.work-text {
    padding: 2%;
}


.left.work-text {
    h2{
        color: white;
    }
    
    h3 {
        background: darken($background-text, 10%);
        padding: 2%;
        display: inline-block;
        margin-bottom: 5%;
    }
}

.work.trailer-park {
    background: url(images/tpb-background.png) top;
    background-attachment: fixed;
    background-size: cover;

}

.work.mr-d {
    background: url(images/mrd-background.png) center;
    background-attachment: fixed;
    background-size: cover;
}


/*-----  End of Work Section  ------*/
/*=======================================
=            Contact Section            =
=======================================*/
.contact {
   //position: relative;
   background: url(images/old_map.png);
   background-size: cover;
   width: 100%;

       .left {
            width: 45%;
            float: left;
            margin: 2.5%;
        }

        .right {
            width: 35%;
            float: right;
            margin: 2.5%;
        }

        h2{
            margin: 1% 0;
            text-align: left;
            color: white;
            margin-bottom: 10%;
        }

        p {
            @include body-text;
            color: white;
        }
}




input[type="text"], textarea {
    color: white;

    &:focus {
        color: white;
    }
}



.ginput_container { 
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.top_label, input.medium, select.medium, textarea{
    width: 100%;
    display: block;
    outline: 0;
    background: none;
    border: 0;
    border-bottom: 2px solid white;
    box-shadow: 0;
    font-size: 1.6rem;
    border-radius: 0;
    color: white;
    text-indent: 2%;
}

li.gfield:first-child, li.gfield:nth-child(2){
    width: 50%;
    float: left;
    height: auto;
    color: white;

    input {
        text-indent: 3%;
    }

    label {
        padding: 4%;
    }
}

textarea {
    border-bottom: none;
}

li.gfield:first-child, li.gfield:nth-child(2) {
    border-top: 2px solid white;
    height: auto;
}

li.gfield:first-child .ginput_container {
    border-right: none;
}

ul.gform_fields.top_label.description_below{
    margin: 0;
}

.gform_footer{
    text-indent: 0;
    border: 0;
}

input[type="submit"]{
    @include button;
    width: 100%;
    text-transform: uppercase;
    font-size: 2rem;

    &:hover {
        @include button-hover;
    }

    &:focus {
        outline: 0;
    }
}

label.gfield_label {
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
    display: block;
    float: left;
    text-transform: uppercase; 
    padding: 2%;  
}

/*-----  End of Contact Section  ------*/

.sticky {
}
.hentry {
	margin: 0;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}