/*=========================================
=             ABOUT STYLES            =
=========================================*/
.about {
    background: $this-is-dark;
    width: 100%;
    
    .container{
        padding: 10%;
    }

    h2 {
        @include h2;
        margin: 2% 0;   
        text-align: center;
        color: white;
     }

     p {
        @include body-text;
        color: white;
     }
}

.recent-post {
    text-align: center;
    margin-top: 5%;

    p { 
        @include h3;
        background: darken($this-is-dark, 10%);
        display: inline-block;
        padding: 2%;
    
    a {
        color: white;
        font-weight: 700;
        text-decoration: none;
    }

    }
}


/*-----  End of FLEXSLIDER STYLES  ------*/
/*====================================
=            Work Section            =
====================================*/

/*==========  lightbox comment block  ==========*/

.full-width-thumbs {
    width: 100%;
    margin: 0;
    position: relative;
}

ul.trailer-thumbs {
    text-indent: 0;
    width: 100%;
    margin: 0;

    li {
        display: inline;
        //margin: 0;

        a img{
            width: 34.9%;
            margin: -1%;
            position: relative;
            -webkit-filter: grayscale(100%);
            filter: grayscale;
            transition: 1s;
        }

        a:hover img {
            -webkit-filter: grayscale(0);
            filter: none;
        }

    }
}


/*==========  lightbox comment block  ==========*/


.work{
    position: relative;
    min-height: 700px;
}

.left, .right {
    width: 48%;
    margin: 1%;
    float: left;

    p {
        color: white;
    }
}

.right {
    float: right;

     h2 {
        color: white;
    }

    h3 {
        background: darken($background-text-light, 10%);
        padding: 2%;
        display: inline-block;
        margin-bottom: 5%;
    }
}


.work {
    h2 {
        @include h2;
        margin-bottom: 8%; 
        line-height: 6rem;
    }

    p {
        margin: 1%;
        @include body-text;
    }
}

.work-text {
    padding: 2%;
}


.left.work-text {
    h2{
        color: white;
    }
    
    h3 {
        background: darken($background-text, 10%);
        padding: 2%;
        display: inline-block;
        margin-bottom: 5%;
    }
}

.work.trailer-park {
    background: url(images/tpb-background.png) top;
    //background-attachment: fixed;
    background-size: cover;

}

.work.mr-d {
    background: url(images/mrd-background.png) center;
    //background-attachment: fixed;
    background-size: cover;
}


/*-----  End of Work Section  ------*/
/*=======================================
=            Contact Section            =
=======================================*/
.contact {
   //position: relative;
   background: url(images/old_map.png);
   background-size: cover;
   width: 100%;

       .left {
            width: 45%;
            float: left;
            margin: 2.5%;
        }

        .right {
            width: 35%;
            float: right;
            margin: 2.5%;
        }

        h2{
            margin: 1% 0;
            text-align: left;
            color: white;
            margin-bottom: 10%;
        }

        p {
            @include body-text;
            color: white;
        }
}



/*-----  End of Contact Section  ------*/

/*=============================================
=            Single page blog post            =
=============================================*/

header.entry-header {
    background: white;
    padding: 2% 5%;
    margin-top: 5%;
    text-align: center;

    .entry-meta {
        @include h3;
        background: $main-accent;
        padding: 1%;
        font-size: 1.2rem;
        margin: 1% 0; 
        
        
        a {
            color: white;
            text-decoration: none;

            &:hover{
                color: $background-opaque;
            }
        }
    }
}

.container.blog  {
    padding: 1%;
}

.entry-content.blog {
    background: white;
    padding: 7.5%;

    h3 {
        font-family: $body-font;
        font-size: 3rem;
        line-height: 4rem;
        color: $main-accent;
        text-transform: none;
        letter-spacing: 0;
        margin-bottom: 3%;
    }

    p {
        @include body-text;
        color: $body;
        margin: 2% 0;
    }
}

.post-nav {
    margin: 4% 0 0 0; 

    a {
        color: $main-accent;
        font-family: $body-font;
        font-size: 1.6rem;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: $background-opaque;
        }
    }
}


/*-----  End of Single page blog post  ------*/




.sticky {
}
.hentry {
	margin: 0;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}